@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'GangwonEduPowerExtraBoldA';
}
    body{
        background-color: #5271FF;
        }
    a { text-decoration: none; color: rgb(254, 254, 254); }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }
    header{
        margin-top: 60px;
        margin-left: 40px;
        font-size: 40px;
        color: #ffffff;
    }
    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 370px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    .sign {
        padding-top: 17px;
        color: #6DBAA1;
        font-weight: bold;
        font-size: 23px;
    }

    .un {
    width: 76%;
    color: #6DBAA1;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    //margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    }

    form.form1 {
        padding-top: 10px;
        text-align: center;
    }

    .pass {
            width: 76%;
    color: #6DBAA1;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    //margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    }


    .un:focus, .pass:focus {
        border: 2px solid #6DBAA1 !important;

    }

    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background-color: #2EE59D;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    .fg{
        color: #2EE59D;
    }
    .rg{
        color: #2EE59D;
    }
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #2EE59D;
        padding-top: 15px;
    }

    .btn {
    width: 310px;
    height: 40px;
    font-size: 15px;
    background-color: #2EE59D;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 5px;
    }
